@font-face {
    font-family: nes;
    src: url(./font/kongtext.ttf);
}



.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 194, 194);
    min-height: 100px;
}

.container {
    display: flex;
    background-color: rgb(106, 106, 106);
    color: white;
    border: 5px solid  rgb(50, 50, 50);
    min-height: 9.05in;

}

.outline {
    display: flex;
    border: 5px solid white;
    border-radius: 5px;
    width: 100%;
}

.stats {
    border: 5px solid white;
    text-align: center;
    border-radius: 10px;
    flex: 1;
}

.stats div {
    margin-top: 10px;
}

.stats div h3{
    text-align: center;
    background-color: rgb(106, 106, 106);
}

.left-windows {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 25px;
}

.button-border {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
    max-width: 800px;
    margin-top: 5px;
    gap: 50px;
    flex: 1;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button-border button{
    margin-bottom: 10px;
    font-size: 18px;
    min-height: 50px;
    min-width: 200px;
}


.right-windows {
    display: flex;
    border: 5px solid white;
    border-radius: 10px;
    margin: 25px;
    width: 100%;
}